<script lang="ts" setup>
import ToastContainer from '~/components/Toast/ToastContainer.vue'

const { resetModals } = useModalsStore()
</script>

<template>
	<div @click="resetModals">
		<NuxtLayout>
			<NuxtPage />
			<ToastContainer />
		</NuxtLayout>
	</div>
</template>

<style>
#__nuxt, #__nuxt > div {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
</style>
