<script lang="ts" setup>
const error = useError()

const handleError = () => {
	clearError({
		redirect: "/",
	})
}
</script>

<template>
	<div class="flex h-screen justify-center items-center flex-col ">
		<h1 class="text-8xl">Error {{ error?.statusCode }}</h1>

		<p class="my-8 text-4xl">
			{{ error?.message || 'An error occurred' }}
		</p>

		<CustomButton @click="handleError" size="lg">
			Go back
		</CustomButton>
	</div>
</template>

<style scoped>

</style>
