<script lang="ts" setup>
import { ICreateCarWithUser } from '~/server/api/cars/index.post'
import CSelect from '~/components/Inputs/CSelect.vue'
import CInput from '~/components/Inputs/CInput.vue'
import CTextArea from '~/components/Inputs/CTextArea.vue'
import CImage from '~/components/Inputs/CImage.vue'
import emptyObjectRef from '~/utils/emptyObjectRef'
import { useToastsStore } from '~/stores/toasts'

definePageMeta({
	layout: 'container',
})
useHead({
	title: 'Create a new listing',
})
type ICarForm = Omit<ICreateCarWithUser, 'image' | 'features'> & {
	image?: File,
	features: string,
}

const user = useSupabaseUser()
const supabase = useSupabaseClient()
const { makes } = useCars()
const { successToast } = useToastsStore()
const errorMessage = ref('')

const form = ref({} as ICarForm)

const isButtonDisabled = computed(() => {
	return Object.keys(form.value).length !== 10
})

const handleSubmit = async () => {
	const uniqueId = crypto.randomUUID();
	const fileName =
		`${ form.value.make }-${ form.value.model }--${ uniqueId }`
		.replaceAll(' ', '-')
		.toLowerCase();


	const { data, error } = await supabase.storage
	.from('images')
	.upload('public/' + fileName, form.value.image!)

	if (error) {
		throw createError(error)
	}

	const name = `${ form.value.make } ${ form.value.model }`
	const body: ICreateCarWithUser = {
		...form.value,
		name,
		city: form.value.city!.toLowerCase(),
		userId: user.value?.id!,
		image: data!.path,
		features: form.value.features.split(',').map((feature: string) => feature.trim()),
	}
	await usePostCar(body)

	successToast(`Car ${ name } from ${ form.value.year } has been created!`)

	emptyObjectRef(form)
	errorMessage.value = ''

}

const createFakeError = () => {
	throw createError('This is a fake error')
}
</script>

<template>
	<div>
		<div class="mt-24">
			<h1 class="text-6xl mt-24 text-center xs:text-left">Create a new listing</h1>
		</div>

		<div class="shadow rounded p-3 mt-5 flex flex-wrap justify-between">
			<CSelect v-model="form.make" :options="makes" title="Make *" />

			<CInput
				v-model="form.model"
				placeholder="Civic"
				title="Model *"
			/>

			<CInput
				v-model="form.year"
				placeholder="2020"
				title="Year *"
				type="number"
			/>

			<CInput
				v-model="form.price"
				placeholder="20000"
				title="Price *"
				type="number"
			/>

			<CInput
				v-model="form.miles"
				placeholder="10000"
				title="Miles *"
				type="number"
			/>

			<CInput
				v-model="form.city"
				placeholder="Austin"
				title="City *"
			/>

			<CInput
				v-model="form.seats"
				placeholder="5"
				title="Number of Seats *"
				type="number"
			/>

			<CInput
				v-model="form.features"
				placeholder="Leather seats, sunroof"
				title="Features *"
			/>

			<CTextArea v-model="form.description"
			           placeholder="This car is amazing"
			           title="Description *"
			/>

			<CImage v-model="form.image" title="Image *" />

			<div class="flex w-[100%] justify-between">
				<CustomButton
					:disabled="isButtonDisabled"
					@click="handleSubmit"
				>
					Submit
				</CustomButton>

				<CustomButton class="w-fit" buttonStyle="error" @click="createFakeError">
					Create fake error
				</CustomButton>

				<p v-if="errorMessage" class="mt-3 text-red-400">{{ errorMessage }}</p>
			</div>

		</div>
	</div>
</template>

<style scoped>

</style>
