<script lang="ts" setup>
import useGetCarsByUserId from '~/composables/useGetCarsByUserId'
import useDeleteCarById from '~/composables/useDeleteCarById'
import { useToastsStore } from '~/stores/toasts'

definePageMeta({
	layout: 'container',
})
useHead({
	title: 'My Listings',
})

const user = useSupabaseUser()
const { successToast } = useToastsStore()
const { data: cars, refresh } = await useGetCarsByUserId(user.value!.id)
const handleDeleteCar = async (id: string) => {
	await useDeleteCarById(id)
	await refresh()
	successToast('Car has been deleted!')
}
</script>

<template>
	<div class="flex-1">
		<div class="flex justify-between items-center mt-24">
			<h1 class="text-6xl">My Listings</h1>
			<NuxtLink
				class="w-9 h-9 bg-blue-400 flex justify-center items-center rounded-full text-white font-bold cursor-pointer"
				to="/profile/cars/create"
			>
				<Icon class="text-2xl" name="bx:bx-plus" />
			</NuxtLink>
		</div>

		<div class="p-3 mt-5">
			<CarListingCard v-for="car in cars"
			                :key="car.id"
			                :car="car"
			                @delete-click="handleDeleteCar"
			/>
		</div>
	</div>
</template>

<style scoped>

</style>
