<script lang="ts" setup>
import { useStorage } from '@vueuse/core'
import ICar from '~/models/ICar'

interface Favorite {
	[key: number]: boolean;
}

const favorite = useStorage<Favorite>('favorite', {})

interface ECardsProps {
	cars: ICar[] | null
}

const { cars } = defineProps<ECardsProps>()

const handleFavorite = (id: number) => {
	if (id in favorite.value) {
		delete favorite.value[id]
	} else {
		favorite.value = {
			...favorite.value,
			[id]: true,
		}
	}
}

</script>

<template>
	<div class="flex flex-col w-full">
		<CarCard v-for="car in cars"
		         :key="car.id"
		         :car="car"
		         :favored="car.id in favorite"
		         @favor="handleFavorite" />
	</div>
</template>

<style scoped>

</style>
