<script lang="ts" setup>
// TODO : Add loader
import ICar from '@/models/ICar'
import getImageUrl from '~/utils/getImageUrl'

const props = defineProps<{ car: ICar, favored: boolean }>()

const emit = defineEmits([ 'favor' ])
const imageUrl = getImageUrl(props.car.image)

</script>

<template>
	<Card class="md:flex-row md:h-[200px] md:min-w-[600px] !p-0 cursor-pointer"
	      @click="navigateTo(`/cars/${car.id}`)"
	>
		<NuxtImg
			:src="imageUrl"
			alt="car"
			class="md:w-[300px] h-full"
		/>

		<div class="flex flex-col flex-1 p-4 z-200">
			<div class="flex justify-between">
				<h1 class="text-2xl text-blue-700 text-nowrap">{{ car.name }}</h1>

				<Icon :class="{['text-red-400']: favored}"
				      :name=" favored ? 'bxs:heart' : 'bx:heart'"
				      class="z-index-20 w-7 ml-2 max-w-fit"
				      @click.stop='emit("favor", car.id)'
				/>
			</div>

			<p class="capitalize">{{ car.city }}</p>
			<p class="text-gray-700 line-clamp-3 my-2">{{ car.description }}</p>
			<p class="text-xl">{{ displayCurrency(car.price) }}</p>
		</div>
	</Card>
</template>

<style scoped>

</style>
