<script lang="ts" setup>
import getImageUrl from '~/utils/getImageUrl'
import { E_EMIT_NAMES } from '~/enums/EmitNames'
import ICar from '~/models/ICar'

const router = useRouter()
const props = defineProps<{
	car: ICar
}>();

const emits = defineEmits([ E_EMIT_NAMES.deleteClick ])
const goToProfileCars = () => {
	router.push(`/profile/cars/view/${ props.car.id }`)
}

const imageUrl = getImageUrl(props.car.image)
</script>

<template>
	<Card class="md:flex-row flex !p-0 justify-between cursor-pointer group"
	      @click="goToProfileCars"
	>
		<NuxtImg :src="imageUrl" alt="" class="md:w-80" />

		<div class="flex flex-col flex-1 p-3">
			<div class="flex justify-between">
				<h1 class="text-2xl text-blue-700 text-nowrap">{{ car.name }}</h1>
				<Icon class="text-red-400 cursor-pointer z-10"
				      name="bxs:trash"
				      @click.stop="emits(E_EMIT_NAMES.deleteClick, car.id)"
				/>
			</div>

			<p class="capitalize">{{ car.city }}</p>
			<p class="text-gray-700 line-clamp-3 my-2">{{ car.description }}</p>
			<p class="text-xl">{{ displayCurrency(car.price) }}</p>

			<p class="group-hover:text-gray-700">See messages</p>
		</div>
	</Card>
</template>

<style scoped>

</style>
