<script lang="ts" setup>
import IMessage from '~/models/IMessage'
import { E_EMIT_NAMES } from '~/enums/EmitNames'

interface IMessageCard {
	message: IMessage
}

const emits = defineEmits([ E_EMIT_NAMES.deleteClick ])

const props = defineProps<IMessageCard>()
</script>

<template>
	<Card>
		<div class="flex flex-col justify-between">
			<div class="flex items-center justify-between">
				<h1 class="font-bold text-2xl">{{ message.name }}</h1>
				<Icon class="text-red-400 cursor-pointer z-10"
				      name="bxs:trash-alt"
				      @click.stop="emits(E_EMIT_NAMES.deleteClick, message.id)"
				>
					Delete
				</Icon>
			</div>

			<div class="flex items-center my-2">
				<p class="text-green-700 mr-10">{{ message.email }}</p>
				<p class="text-blue-500">{{ message.phone }}</p>
			</div>
		</div>
		<p class="text-gray-700">
			{{ message.text }}
		</p>
	</Card>
</template>

<style scoped>

</style>
