<script lang="ts" setup>
import setRouteParams from '~/utils/setRouteParams'

const city = ref('')
const cityError = ref(false)

const handleSearch = () => {
	let url = '/cars'
	if (city.value) url += setRouteParams({ city: city.value })

	navigateTo(url)
}
</script>

<template>
	<form class="font-serif max-w-96 text-2xl rounded-full mx-auto
             flex flex-col xs:flex-row
             justify-between
             xs:bg-white xs:overflow-hidden
              drop-shadow-2xl"
	      @submit.prevent="handleSearch"
	>
		<input v-model="city"
		       :class="cityError ? 'border-red-500 border':''"
		       class="py-4 px-4 w-full text-center xs:text- text-2xl rounded-full focus:outline-none"
		       placeholder="Search by city... "
		       type="text"
		/>
		<button class=" bg-sky-500 text-white
					py-4 px-4 sm:px-10
					mt-4 sm:mt-0
					rounded-full xs:rounded-none"
		        type="submit"
		>
			Search
		</button>
	</form>
</template>

<style scoped>

</style>
