<script lang="ts" setup>
import { useCars } from '~/composables/useCars'
import CAutocomplete from '~/components/Inputs/CAutocomplete.vue'
import CRange, { IRange } from '~/components/Inputs/CRange.vue'
import { I_RESETTABLE_INPUT } from '~/components/Inputs/I_RESETTABLE_INPUT'
import parseIntWithUndefined from '~/utils/parseIntWithUndefined'

const route = useRoute()
const router = useRouter()
const { makes } = useCars()

const filters = computed(() => {
	return ({
		city: getRouteQuery(route, 'city'),
		make: getRouteQuery(route, 'make'),
		priceRange: {
			min: getRouteQuery(route, 'minPrice'),
			max: getRouteQuery(route, 'maxPrice'),
		},
	})
});


enum ECarFilter {
	CITY = 'city',
	MAKE = 'make',
	PRICE = 'price',
}

const onPricesChange = ({ min, max }: IRange) => {
	if (min && max && min > max) {
		throw createError({
			statusCode: 400,
			message: `Max price should be greater than min price`,
		})
	}

	router.push({
		query: {
			...route.query,
			minPrice: min,
			maxPrice: max,
		},
	})
}

const onFiltersChange = (e: Event | string, key: ECarFilter) => {
	const value = typeof e === 'string'
		? e
		: (e.target as HTMLInputElement).value;

	router.push({
		query: {
			...route.query,
			[key]: value,
		},
	})
}

const resetFilter = (key: ECarFilter) => {
	const query = {
		...route.query,
		[key]: undefined,
	}

	if (key === ECarFilter.MAKE && makeRef.value) {
		makeRef.value.resetFilter()
	}

	if (key === ECarFilter.PRICE && rangeRef.value) {
		rangeRef.value.resetFilter()
		query.minPrice = undefined
		query.maxPrice = undefined
	}
	router.push({ query })
}

const resetAllFilters = async () => {
	const resetPromises = [];

	if (makeRef.value) resetPromises.push(makeRef.value.resetFilter())
	if (rangeRef.value) resetPromises.push(rangeRef.value.resetFilter())

	// also working with await nextTick()
	await Promise.all(resetPromises);

	router.push({
		query: {},
	})
}
const makeRef = ref<I_RESETTABLE_INPUT | null>(null);
const rangeRef = ref<I_RESETTABLE_INPUT | null>(null);

const debouncedOnFiltersChange = debounce(onFiltersChange)
const debouncedOnPricesChange = debounce(onPricesChange)
</script>

<template>
	<div class="flex flex-col lg:mr-10 mb-10 lg:mb-0 max-w-[300px]">
		<div class="shadow z-30 border md:w-64">
			<div class="flex justify-between p-5 border-b">
				<h3>City</h3>
				<input :value="filters.city"
				       class="flex w-[150px] text-right p-1 rounded text-blue-400 capitalize cursor-pointer"
				       placeholder="Any"
				       type="text"
				       @input="debouncedOnFiltersChange($event, ECarFilter.CITY)"
				/>

				<div class="cursor-pointer" @click="resetFilter(ECarFilter.CITY)">x</div>
			</div>

			<div class="flex justify-between p-5 border-b">
				<h3>Make</h3>

				<CAutocomplete ref="makeRef"
				               :default="filters.make"
				               :options="makes"
				               name="Make"
				               @update:value="debouncedOnFiltersChange($event, ECarFilter.MAKE)"
				/>

				<div class="cursor-pointer" @click="resetFilter(ECarFilter.MAKE)">x</div>
			</div>

			<div class="flex justify-between p-5 cursor-pointer">
				<h3 class="content-center">Price</h3>
				<CRange ref="rangeRef"
				        :max="parseIntWithUndefined(filters.priceRange.max)"
				        :min="parseIntWithUndefined(filters.priceRange.min)"
				        @update:value="debouncedOnPricesChange"
				/>
				<div class="cursor-pointer content-center" @click="resetFilter(ECarFilter.PRICE)">x</div>
			</div>
		</div>

		<div>
			<CustomButton class="w-full mt-8 whitespace-nowrap " @click="resetAllFilters">
				Reset all filters
			</CustomButton>
		</div>
	</div>
</template>

<style scoped>

</style>
