<script lang="ts" setup>
import ICar from '~/models/ICar'

const props = defineProps<{ features: ICar['features'] }>()

</script>
<template>
	<div class="mr-10 mt-5 pb-5 border-bx">
		<div v-for="feature in features" class="flex text-lg mt-2">
			<p class="rounded text-lime-800 mr-3">✔</p>
			<p>{{ feature }}</p>
		</div>
	</div>
</template>

<style scoped>

</style>
