<script lang="ts" setup>
import { ICreateMessage } from '~/server/api/cars/[carId]/messages.post'

const route = useRoute()
const defaultMessage = {
	email: '',
	phone: '',
	name: '',
	message: '',
} as ICreateMessage

const message = useState('CarDetailsContact-message', () => defaultMessage)

const isDisabled = computed(() => {
	return !message.value.name || !message.value.email || !message.value.phone || !message.value.message
})

const onSubmit = async () => {
	await usePostMessage(getRouteParams(route, 'id'), message.value)
	message.value = defaultMessage
	// Todo toast success message
}
</script>

<template>
	<div class="mt-10">
		<h1 class="text-4xl my-6">Contact</h1>
		<div class="flex w-[600px] justify-between">
			<input v-model="message.name" class="border p-1" placeholder="Name" type="text" />
			<input v-model="message.email" class="border p-1" placeholder="Email" type="text" />
			<input v-model="message.phone" class="border p-1" placeholder="Phone" type="text" />
		</div>

		<div class="flex mt-4 w-[600px]">
			<textarea v-model="message.message" class="border p-1 w-full" placeholder="Message"></textarea>
		</div>

		<CustomButton :disabled="isDisabled" @click="onSubmit">Submit</CustomButton>
	</div>
</template>

<style scoped>

</style>
