<script lang="ts" setup>
import ICar from '~/models/ICar'

const props = defineProps<{ description: ICar['description'] }>()
</script>

<template>
	<div class="mt-5">
		<p class="mb-10">
			{{ description }}
		</p>
	</div>
</template>

<style scoped>

</style>
