<script lang="ts" setup>
import ICar from '~/models/ICar'
import { displayCurrency } from '../../../.nuxt/imports'

const props = defineProps<{ car: ICar }>()
</script>

<template>
	<div class="mt-10">
		<NuxtImg :src="car.image"
		         alt="car"
		         class="w-full"
		/>
		<h1 class="mt-10 text-4xl">{{ car.name }}</h1>
		<div>
			<div class="text-slate-500 flex text-lg mt-3 border-b pb-5 justify-between">
				<div class="flex ">
					<p class="mr-2">{{ car.seats }} seats</p>
					<p class="mr-2">|</p>
					<p class="mr-2">{{ car.miles }} miles</p>
				</div>
				<div class="">
					<p class="font-bold text-2xl">{{ displayCurrency(car.price) }}</p>
				</div>
			</div>
		</div>
	</div>
</template>

<style scoped>

</style>
