<script lang="ts" setup>
import toTitleCase from '~/utils/toTitleCase'
import useGetCarById from '~/composables/useGetCarById'

const route = useRoute()
const { data: car } = await useGetCarById(getRouteParams(route, 'id'))

useHead({
	title: toTitleCase(car.value.name),
})

definePageMeta({
	layout: 'container',
})
</script>

<template>
	<div v-if="car">
		<CarDetailsHero :car="car" />
		<CarDetailsAttribute :features="car.features" />
		<CarDetailsDescription :description="car.description" />
		<CarDetailsContact />
	</div>
</template>

<style scoped>

</style>
