<script lang="ts" setup>
import ICar from '~/models/ICar'

const route = useRoute();

const city = computed(() => {
	return getRouteQuery(route, 'city')
})
const make = computed(() => getRouteQuery(route, 'make'))
const minPrice = computed(() => getRouteQuery(route, 'minPrice'))
const maxPrice = computed(() => getRouteQuery(route, 'maxPrice'))

useHead({
	title: 'Cars',
});
definePageMeta({
	layout: 'container',
})

const cars = ref<ICar[] | null>(null)

const fetchCars = async () => {
	const { data } = await useGetCarsByCity({
		city: city.value,
		make: make.value,
		minPrice: minPrice.value,
		maxPrice: maxPrice.value,
	});
	cars.value = data;
}

fetchCars()
watch(() => route.query, () => fetchCars());
</script>

<template>
	<div class="mt-16 md:mt-32 flex flex-col lg:flex-row flex-1 lg:items-start items-center">
		<NuxtErrorBoundary>

			<CarSideBar />

			<div class="flex-1 flex flex-col mt-4 md:mt-0">
				<CarCards v-if="cars && cars.length" :cars="cars" />
				<h1 v-else class="text-red-600 text-4xl mt-4">No cars found</h1>
			</div>

			<template #error="{error}">
				<div class="text-center mx-auto flex flex-col">
					<h1 class="text-5xl text-red-600 mb-4">Sorry, something went wrong</h1>
					<code>{{ error }}</code>

					<button class="text-white bg-blue-400 px-10 py-3 rounded mt-4" @click="error.value=null">
						Go back
					</button>

				</div>
			</template>
		</NuxtErrorBoundary>
	</div>

</template>

<style scoped>

</style>
