<script lang="ts" setup>
import { useToastsStore } from '~/stores/toasts'

const { toasts } = useToastsStore()

</script>

<template>
	<Teleport to="body">
		<div class="fixed bottom-0 right-0 flex flex-col gap-4 p-5 z-50">
			<TransitionGroup name="list">
				<Toast v-for="toast in toasts" :key="toast.id" v-bind="toast" />
			</TransitionGroup>
		</div>
	</Teleport>
</template>

<style scoped>
.list-enter-active,
.list-leave-active {
	transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
	opacity: 0;
	transform: translateX(30px);
}

</style>
