<script lang="ts" setup>
import { IToast } from '~/stores/toasts'


const props = defineProps<IToast>()

const toastClass = computed(() => {
	switch (props.status) {
		case 'success':
			return 'bg-green-400 text-white'
		case 'error':
			return 'bg-red-400 text-white'
		case 'warning':
			return 'bg-yellow-400 text-white'
		case 'info':
			return 'bg-blue-400 text-white'
		default:
			return 'bg-gray-400 text-white'
	}
})

const { deleteToast } = useToastsStore()
</script>

<template>
	<div :class="['shadow-lg rounded-lg p-5', toastClass]">
		<div class="flex justify-between items-center">
			<div class="flex w-full justify-between items-center">
				<p class="text-lg text-white">{{ props.text }}</p>
				<Icon class="text-2xl ml-2 cursor-pointer"
				      name="bx:x-circle"
				      @click="()=>deleteToast(props.id)"
				/>
			</div>
		</div>
	</div>
</template>
