<script lang="ts" setup>

</script>

<template>
	<div class="shadow-lg hover:shadow-blue-300 rounded relative w-full p-4 [&:not(:last-child)]:mb-6
				flex flex-col"
	>
		<slot />
	</div>
</template>

<style scoped>
</style>
