<script lang="ts" setup>

interface IButtonProps {
	disabled?: boolean;
	size?: 'sm' | 'md' | 'lg';
	buttonStyle?: 'error' | 'submit';
}

const props = withDefaults(defineProps<IButtonProps>(), {
	size: 'md',
	buttonStyle: 'submit',
});

const baseClass = `text-center text-white rounded px-6`;

const sizeClass = {
	sm: 'mt-1 text-sm py-1 w-24',
	md: 'mt-3 py-2 w-32',
	lg: 'mt-7 text-2xl py-4 w-48',
};
const classes = computed(() => `${ baseClass } ${ sizeClass[props.size] }`);
</script>

<template>
	<button
		:class="{
			'bg-gray-300 cursor-not-allowed': disabled,
			'bg-blue-400': !disabled,
			'bg-red-400': props.buttonStyle === 'error',
		[classes]: true,
        }"
		:disabled="disabled"
	>
		<slot />
	</button>
</template>

<style scoped>

</style>
