<script lang="ts" setup>
import CarSearchBar from '~/components/Car/SearchBar.vue'

</script>

<template>
	<div class="relative w-100 bg-no-repeat bg-cover bg-bottom flex flex-col items-center
   bg-[url(https://carconfigurator.ferrari.com/assets/cars/portofinom/packages/default/car-ferrari-portofino-m_splash.jpg)]"
	>
		<div class="z-10 absolute w-full h-full w-2/3 flex flex-col justify-center text-center">
			<h1 class="text-8xl font-serif mb-10 text-white">Find your drive</h1>

			<CarSearchBar />
		</div>

		<div class="z-1 absolute w-full h-full bg-black opacity-50"></div>
	</div>
</template>

<style scoped>

</style>
