<script lang="ts" setup>
import { useAuth } from '~/composables/useAuth'

const { logout, user } = useAuth()
</script>

<template>
	<header class="sticky top-0 z-50 flex justify-between items-center space-x-1 border-b bg-white p-4 shadow-md">
		<NuxtLink class="text-3xl font-mono" to="/">CarTrader</NuxtLink>
		<div v-if="user" class="flex">
			<NuxtLink class="mr-5" to="/profile/cars">Profile</NuxtLink>
			<p class="cursor-pointer" @click="logout">Logout</p>
		</div>
		<NuxtLink v-else to="/login">Login</NuxtLink>
	</header>
</template>

<style scoped>

</style>
