<script lang="ts" setup>
import ToastContainer from '~/components/Toast/ToastContainer.vue'
</script>

<template>
	<NavBar />
	<div class="mt-5 max-w-7xl space-y-4 pb-16
				flex justify-center
				w-5/5 xs:w-4/5 sm:w-4/5
				mx-4 xs:mx-auto
				px-4 xs:px-8 sm:px-10 lg:px-16"
	>
		<slot />
	</div>
</template>

<style scoped>

</style>
