<script lang="ts" setup>
import { useAuth } from '~/composables/useAuth'

definePageMeta({
	layout: 'container',
})
useHead({
	title: 'Login',
})

const { login } = useAuth()
</script>

<template>
	<div class="mt-10">
		<h1 class="text-5xl font-bold mb-7">
			Log in
		</h1>
		<button class="bg-red-400 p-3 rounded text-white font-bold" @click="login">Login with google</button>
	</div>
</template>

<style scoped>

</style>
