<script lang="ts" setup>
import { E_EMIT_NAMES } from '~/enums/EmitNames'
import { useModalsStore } from '~/stores/useModalsStore'

interface Props {
	placeholder?: string
	default?: string
	options: string[]
}

const props = defineProps<Props>()
const tempValue = ref(props.default ?? '')
const filteredOptions = ref(props.options)
const { modals, toggleModal, closeModal } = useModalsStore()

const emit = defineEmits([ E_EMIT_NAMES.UPDATE_VALUE ])

const onPick = (e: Event) => {
	const { innerText } = e.target as HTMLHeadingElement
	tempValue.value = innerText
	closeModal('autocomplete')
	emit(E_EMIT_NAMES.UPDATE_VALUE, innerText)
}

watch(tempValue, (temp) => {
	filteredOptions.value = props.options.filter(m => {
		if (!temp) return true
		return m.toLowerCase().includes(temp.toLowerCase())
	})
})

const resetFilter = () => {
	tempValue.value = ''
	closeModal('autocomplete')
}

defineExpose({ resetFilter })
</script>

<template>
	<div class="relative content-center w-[150px]">
		<input v-model="tempValue"
		       :class="{ 'text-blue-400': !modals.autocomplete }"
		       :placeholder="props.placeholder ?? 'Any'"
		       class="flex w-inherit cursor-pointer text-right p-1 hover:text-gray-400 rounded capitalize"
		       type="text"
		       @click.stop="toggleModal('autocomplete')"
		/>

		<div v-if="modals.autocomplete"
		     class="absolute flex flex-col justify-between bg-white max-h-[40vh] w-[150px] overflow-auto z-10 px-4 py-2 mt-1 border shadow"
		>
			<h4 v-for="option in filteredOptions" :key="option" class="text-nowrap cursor-pointer hover:text-blue-400"
			    @click="onPick">
				{{ option }}
			</h4>
		</div>
	</div>
</template>

<style scoped>
input:hover::placeholder {
	color: rgb(96 165 250) // bg-blue-400
}
</style>
