<script lang="ts" setup>
import { E_EMIT_NAMES } from '~/enums/EmitNames'
import { defineEmits } from 'vue'
import CLabel from '~/components/Inputs/CLabel.vue'

const props = defineProps<{
	title: string
	modelValue?: File
}>();


const emit = defineEmits([ E_EMIT_NAMES.updateModelValue ])

const onImageUpload = (event: Event) => {
	const input = event.target as HTMLInputElement;

	if (!input.files?.length) return;

	const reader = new FileReader();
	reader.onload = (e) => {
		if (typeof e.target?.result === 'string') {
			preview.value = e.target.result;
		}
	}

	reader.readAsDataURL(input.files[0]);
	emit(E_EMIT_NAMES.updateModelValue, input.files[0]);
}

const preview = ref('')

watch(() => props.modelValue, (value) => {
	if (!value) preview.value = ''
})

const id = `img-${ props.title?.toLowerCase() ?? '' }`
</script>

<template>
	<div class="col-md-5 offset-md-1 mt-2 w-[100%]">
		<CLabel v-if="title" :for="id" :title="title" />

		<form class="mt-2">
			<div class="form-group">
				<div class="relative">
					<input :id="id"
					       accept="image/*"
					       class="opacity-0 absolute cursor-pointer"
					       name="image"
					       type="file"
					       @change="onImageUpload"
					/>
					<span class="cursor-pointer">Browser File</span>
				</div>
				<div v-if="preview" class="border pp-2 mt-3 w-56">
					<img :src="preview" alt="preview" class="img-fluid" />
				</div>
			</div>
		</form>
	</div>
</template>

