<script lang="ts" setup>
import { defineEmits } from 'vue'
import { E_EMIT_NAMES } from '~/enums/EmitNames'
import CLabel from '~/components/Inputs/CLabel.vue'

interface IProps {
	title?: string
	placeholder?: string
	type?: string
	modelValue?: string | number
}

const props = defineProps<IProps>();

const emit = defineEmits([ E_EMIT_NAMES.updateModelValue ])

function updateValue(event: Event) {
	const inputElement = event.target as HTMLInputElement;
	emit(E_EMIT_NAMES.updateModelValue, inputElement.value);
}

const id = `input-${ props.title?.toLowerCase() ?? '' }`
</script>

<template>
	<div class="flex flex-col w-full xs:w-1/2 p-2">
		<CLabel v-if="title" :for="id" :title="title" />
		<input :id="id"
		       :placeholder="placeholder"
		       :type="type"
		       :value="modelValue"
		       class="p-2 border w-100 rounded"
		       @input="updateValue"
		/>
	</div>
</template>

<style scoped>

</style>
