<script lang="ts" setup>
const props = defineProps<{
	title: string
	for: string
}>();
</script>

<template>
	<label :for="props.for" class="text-cyan-500 mb-1 text-sm">{{ title }}</label>
</template>
