<script lang="ts" setup>
import { ref, watch } from 'vue'
import { E_EMIT_NAMES } from '~/enums/EmitNames'

const emit = defineEmits([ E_EMIT_NAMES.UPDATE_VALUE ])

const props = defineProps<{ min?: number, max?: number }>()

export interface IRange {
	min?: number,
	max?: number,
}

const range = ref<IRange>({
	min: props.min,
	max: props.max,
})

const displayedMin = computed(() => displayCurrency(range.value.min))
const displayedMax = computed(() => displayCurrency(range.value.max))

watch(range, (newRange) => {
	emit(E_EMIT_NAMES.UPDATE_VALUE, newRange)
}, { deep: true })


const handleInput = (e: Event, type: 'min' | 'max') => {
	const target = e.target as HTMLInputElement
	const numericValue = target.value.replace(/\D/g, '')

	range.value[type] = numericValue ? parseInt(numericValue, 10) : undefined;
	target.value = displayCurrency(numericValue)
}

const resetFilter = () => {
	range.value.min = undefined;
	range.value.max = undefined;
}

defineExpose({ resetFilter })
</script>

<template>
	<div class="w-[150px] bg-white">
		<input :value="displayedMin"
		       class="flex w-inherit cursor-pointer text-right p-1 text-blue-400 hover:text-gray-400 rounded capitalize"
		       placeholder="Min"
		       type="text"
		       @input="handleInput($event, 'min')"
		>
		<input :value="displayedMax"
		       class="flex w-inherit cursor-pointer text-right p-1 text-blue-400 hover:text-gray-400 rounded capitalize"
		       placeholder="Max"
		       type="text"
		       @input="e => handleInput(e, 'max')"
		>
	</div>
</template>
