<script lang="ts" setup>
import { E_EMIT_NAMES } from '~/enums/EmitNames'
import CLabel from '~/components/Inputs/CLabel.vue'
import { defineEmits } from 'vue'

const props = defineProps<{
	title: string
	options: string[]
	modelValue?: string | number

}>();

const emit = defineEmits([ E_EMIT_NAMES.updateModelValue ])

function updateValue(event: Event) {
	const inputElement = event.target as HTMLInputElement;
	emit(E_EMIT_NAMES.updateModelValue, inputElement.value);
}

const id = `select-${ props.title?.toLowerCase() ?? '' }`
</script>

<template>
	<div class="flex flex-col w-full xs:w-1/2 p-2">
		<CLabel v-if="title" :for="id" :title="title" />
		<select :id="id"
		        :value="modelValue"
		        class="p-2 border w-100 rounded"
		        @input="updateValue"
		>
			<option value="" disabled selected></option>
			<option v-for="option in options" :key="option" :value="option">{{ option }}</option>
		</select>
	</div>
</template>

<style scoped>

</style>
