<script lang="ts" setup>
import { E_EMIT_NAMES } from '~/enums/EmitNames'
import { defineEmits } from 'vue'
import CLabel from '~/components/Inputs/CLabel.vue'

interface IProps {
	title?: string
	placeholder?: string
	type?: string
	modelValue?: string
}

const props = defineProps<IProps>();

const emit = defineEmits([ E_EMIT_NAMES.updateModelValue ])


function updateValue(event: Event) {
	const inputElement = event.target as HTMLInputElement;
	emit(E_EMIT_NAMES.updateModelValue, inputElement.value);
}

const id = `textarea-${ props.title?.toLowerCase() ?? '' }`
</script>

<template>
	<div class="flex flex-col w-[100%] mt-2">
		<CLabel v-if="title" :for="id" :title="title" />
		<textarea :id="id"
		          :placeholder="placeholder"
		          :value="modelValue"
		          class="p-2 border w-100 rounded"
		          @input="updateValue"
		/>
	</div>
</template>

<style scoped>

</style>
