<script lang="ts" setup>
import useGetCarById from '~/composables/useGetCarById'
import useGetMessagesByCars from '~/composables/useGetMessagesByCars'
import useDeleteMessagesById from '~/composables/useDeleteMessagesById'

definePageMeta({
	layout: 'container',
})
const route = useRoute()
const id = getRouteParams(route, 'id')
const { data: messages, refresh } = await useGetMessagesByCars(id)
const { data: car } = await useGetCarById(id)

useHead({
	title: `Messages for ${car.value.name}`,
})
const handleDeleteMessageById = async (id: number) => {
	await useDeleteMessagesById(id.toString())
	await refresh()
}
</script>

<template>
	<div class="mt-12 flex flex-col items-center">
		<h1 class="text-2xl">Message for {{ car.name }}</h1>

		<div v-if="messages?.length" class="flex flex-col justify-center gap-2 my-8">
			<CarMessageCard v-for="message of messages" :key="message.id" :message="message" @delete-click="handleDeleteMessageById" />
		</div>

		<p v-if="!messages?.length" class="my-10">No message found for this car</p>

		<CustomButton>
			<NuxtLink to="/profile/cars">
				Go back
			</NuxtLink>
		</CustomButton>
	</div>
</template>

<style scoped>

</style>
